<% @require_javascript = "pages/admin/players" %>

<div class="players">
  <%= render :partial => "common/players", :locals => {:players => @players} %>
  <p>
  <%= link_to 'Add New Player', new_admin_player_path %>
  </p>
</div>
