$logo-text-color: #555555;
$menu-start-color: #0e51a7;
$menu-end-color: #4282D3;
$menu-inactive-text-color: #6997d3;
$menu-border-color: #0e51a7;
$menu-active-text-color: white;  
$menu-active-background-color: #4282D3;
