table.data {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  background-color: white;
  font-size: .9em;

  th {
    text-align: left;
  }

  th, td {
    padding: 5px;
    padding-right: 25px;
    border: 1px solid #ccc;
  }

  tr.odd {
    background-color: #eee;
  }

  .sorting_asc {
    background: url('../images/sort_asc.png') no-repeat center right;
  }

  .sorting_desc {
    background: url('../images/sort_desc.png') no-repeat center right;
  }

  .sorting {
    background: url('../images/sort_both.png') no-repeat center right;
  }

  .sorting_asc_disabled {
    background: url('../images/sort_asc_disabled.png') no-repeat center right;
  }

  .sorting_desc_disabled {
    background: url('../images/sort_desc_disabled.png') no-repeat center right;
  }
}

.dataTables_filter {
  margin-bottom: 10px;
}
