<% @require_javascript = "pages/admin/games" %>

<div class="games">
  <%= render :partial => "common/games", :locals => {:games => @games} %>
  <p>
  <%= link_to 'Add New Game', new_admin_game_path %>
  </p>
</div>

