<% @page_javascript = "home.js" %>

<div id="home">
  <ul class="filters">
    <li class="juniors"><a href=#>Juniors</a></li>
    <li class="majors"><a href=#>Majors</a></li>
    <li class="minors"><a href=#>Minors</a></li>
    <li class="rookies"><a href=#>Rookies</a></li>
    <li class="tball"><a href=#>T-Ball</a></li>
  </ul>
  <div id="calendar">
  </div>
</div>
