<ul>
  <% @divisions.each do |division| %>
    <li><%= link_to division.name, admin_division_path(division) %></li>
  <% end %>
</ul>

<hr>

<p>
  <%= link_to 'New Division', new_admin_division_path %>
</p>
