.motd {
  font-weight: bold;
  text-align: center;
}

#home {
  label.checkbox {
    float: right;
    margin-top: 8px;
  }

  .filters-collapse {
    margin-bottom: 10px;
  }

  .filters {
    float: right;
    list-style: none;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;

    @media (max-width: $screen-xs-max) {
      float: none;
    }

    li {
      float: left;
      margin-left: 10px;
      border: 1px solid black;

      @media (max-width: $screen-xs-max) {
        display: block;
        float: none;
        margin-left: 0;
        margin-bottom: 5px;
        text-align: center;
      }

      &.off {
        background: #bbb !important;
      }

      a {
        color: white;
        padding: 10px;
        text-decoration: none;
        line-height: 30px;
        font-size: 14px;
      }
    }

    label {
      padding-left: 5px;
      padding-right: 15px;

      .color {
        display: inline;
        width: 10px;
        height: 10px;
        background: black;
      }
    }
  }

  .games {
    .date {
      clear: both ;
      font-weight: bold;
      background: #eee;
      padding: 5px;
      width: 100%;

      .timespan {
        color: #777;
        font-style: italic;
        font-size: .9em;
      }
    }

    .game {
      clear: both;
    }

    .time {
      padding: 5px;
      color: white;
      margin-bottom: 3px;
      margin-right: 8px;
    }

    ul {
      margin: 10px 0 20px;
    }
  }
}

div.division {
  margin-right: 50px;
  margin-bottom: 10px;
  float: left;

  @media (max-width: $screen-xs-max) {
    width: 100%;
    margin-bottom: 20px;
    font-size: 1.3em;
  }
}

div.division h4 {
  margin: 0;
  margin-bottom: 10px;
}

div.division .teams {
  margin: 0;
}

@media (max-width: $screen-xs-max) {
  .hidden-phone {
    display: none !important;
  }
}

@media (min-width: $screen-xs-max) {
  .only-phone {
    display: none !important;
  }
}
