#home {
  label.checkbox {
    float: right;
    margin-top: 8px;
  }

  .filters {
    float: right;
    list-style: none;
    margin: 0;
    margin-bottom: 10px;

    li {
      float: left;
      margin-left: 10px;
      border: 1px solid black;

      &.off {
        background: #bbb !important;
      }

      a {
        color: white;
        padding: 10px;
        text-decoration: none;
        line-height: 30px;
        font-size: 14px;
      }
    }

    label {
      padding-left: 5px;
      padding-right: 15px;

      .color {
        display: inline;
        width: 10px;
        height: 10px;
        background: black;
      }
    }
  }

  .games {
    .date {
      clear: both ;
      font-weight: bold;
      background: #eee;
      padding: 5px;
      width: 100%;
    }

    .game {
      clear: both;
    }

    .time {
      padding: 5px;
      color: white;
      margin-bottom: 3px;
      margin-right: 8px;
    }

    ul {
      margin: 10px 0 20px;
    }
  }
}
