@import "bootstrap_and_overrides";
@import "jquery-ui-1.8.11.custom";
@import "public";
@import "timepicker";
@import "fullcalendar";

span.ical {
  float: right;
}

body > .container {
  padding-top: 60px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

div.clear {
  clear: both;
}

#notice {
  color: green;
}

