<% @divisions.each do |division| %>
  <div class="division">
    <h4><%= division.name %></h4>

    <ul class="teams">
      <% division.teams.sort_by{|t| t.name}.each do |team| %>
        <li class="team"><%= link_to(team.name, admin_team_path(team)) %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="clear"></div>

<hr>

<p>
  <%= link_to 'New Team', new_admin_team_path %>
</p>

